.json {
    &-editor {

    }

    &-row {
        display: table-row;
        padding: 2px 0px;

        &-index {
            font-weight: 600;
            display: table-cell;
            padding: 0px 8px;
        }

        &-content {
            width: 100%;
            display: table-cell;
            background-color: #fefefe;
        }
    }
}